.Mosapp {
  color: #fff;
  position: relative;
  margin-top: 40px;
}

.Mosapp h1 {
  font-size: 50px;
}

.Mosapp p {
  font-size: 20px;
}

.bg-img {
  background-image: url(../images/cookies.jpg);
}

.bg-header {
  height: 480px;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  position: absolute;
}
